{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{ form.media.css }}
{% endblock %}


{% block content %}


  <div class="card-header text-primary">
    <h2>Can't find your class? Tell us the class name and review it here!</h2>
  </div>
  <div class="card-body" style="background-color: white">

<form action="{% url 'reviews:add_a_review'%}" method="post" class="form" enctype="multipart/form-data">
{% csrf_token %}
{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
{% buttons %}
<button type="submit" class="btn btn-raised btn-primary">
     Submit
</button>
{% endbuttons %}
</form>
  </div>

{{ form.media.js }}
{% endblock %}
