{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-header">
<h3><a href="{% url 'reviews:department_list' department.id %}"> {{ department.college.name }} {{ department.name }}</a></h3>
    </div>
    <div class="card-body">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'reviews:add_topic' department.id %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fieldWrapper">
      <div class="row">
        <div class="col-md-4" >
            <div class="card">
            <div class="card-header">
                <a href="{% url 'reviews:add_review' department.id %}">
                + Writing a class feedback? Click here
              </a>
            </div>
            </div>
        </div>
        <div class="col-md-8" >
            <div class="card">
            <div class="card-body">
        {{ form.non_field_errors }}
        {{ form.title.errors }}
        {% bootstrap_field form.title %}
        {% bootstrap_field form.username %}
        {% bootstrap_field form.content %}
            </div>
            </div>
        </div>
      </div>
    </div>
    {% buttons %}
    <button type="submit" class="btn btn-raised btn-primary">
    Add
    </button>
    {% endbuttons %}
    </form>
   </div>
</div>
{% endblock %}