{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}
{% block content %}
<script type = "text/javascript" src = "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" ></script>
{{ form.media.css }}
<div class="card">
  <div class="card-header text-primary">
    <h2>Add a Class Feedback</h2>
    <h6>which department is the class in?</h6>
  </div>
  <div class="card-body" align="center">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
        {% else %}
          <form action="{% url 'reviews:add_general_review' %}" method="post" class="form">
          {% csrf_token %}
          {% for field in form %}
          {% bootstrap_field field %}
          {% endfor %}
          {% buttons %}
          <button type="submit" class="btn btn-raised btn-primary" >
          Go
          </button>
          {% endbuttons %}
          </form>
        {% endif %}
  </div>
</div>
{{ form.media.js }}
{% endblock %}

