{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<title>Welcome to Ray's Website</title>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'reviews:review_list' %}">Restaurant Recommender</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'reviews:review_list' %}">Home</a></li>
                </li>
                <li><a href="{% url 'reviews:restaurant_list' %}">Restaurant list</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">    
            {% if user.is_authenticated %}
                <li><a href="{% url 'reviews:user_review_list' user.username %}">Hello {{ user.username }}</a></li>
                <li><a href="{% url 'reviews:user_recommendation_list' %}">Restaurant suggestions</a></li>
                <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'auth:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="panel panel-default"> 
        <div class="panel-heading"><h4>Rate restaurants and get recommendations based on people with similar preferences</h4></div>
        <div class="panel-body"><footer><a href="https://www.linkedin.com/in/ruiming100/">Ray (Ruiming) Li</a>: <a href="mailto:ruiming100@gmail.com?Subject=Hello%20Ray" target="_top">ruiming100@gmail.com</a><br>developed this sample web-based machine learning project.</footer><footer><br>He made use of nginx + uwsgi + django framework and K-Nearest Neighbor algorithm in sklearn package. He would like to give special thanks to server at Haverford College and step-by-step django tutorial by Jose A Dianes.</footer></div>
    </div>


    <h1>{% block title %}(no title){% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}
