{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
<h3>Edit your review for  {{ review.restaurant.name }}</h3>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'reviews:edit_review' review.id %}" method="post" class="form">
    {% csrf_token %}
    {{ form2.non_field_errors }} 
    {% bootstrap_field form.prof_name %}
    {% bootstrap_field form.rating %}
    {% bootstrap_field form.comment %}

    <button type="submit" class="btn btn-primary"> Save </button>
    <a class="btn btn-primary" href="{% url 'reviews:user_recommendation_list' %}"> Cancel </a>

</form>
{% endblock %}