{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2>{{ restaurant.name }}</h2>
<h5>{{ restaurant.review_set.count }} reviews ({{ restaurant.average_rating | floatformat }} average rating)</h5>
{% endblock %}

{% block content %}
{% if restaurant_review_list %}
<div class="row">
    {% for review in restaurant_review_list %}
    <div class="col-xs-6 col-lg-4">
        <h4>Recommended {{ review.rating }} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a></h4>
        <p>{{ review.comment }}</p>
        <h6><a href="{% url 'reviews:review_detail' review.id %}">Read more </a><a onclick="return confirm('You will not see this review after reporting. Proceed?')" href="{% url 'reviews:report_review' review.id %}">&nbsp &nbsp Report</a></h6> 
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% else %}
<form action="{% url 'reviews:add_review' restaurant.id %}" method="post" class="form">
{% csrf_token %}

{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
{% buttons %}
<button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Add
</button>
{% endbuttons %}
</form>
{% endif %}

{% endblock %}