{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
<div class="row">
  <div class="col-md-3" >
    <div class="card">
      <div class="card-header">
        <a href="{% url 'reviews:department_list' restaurant.department.id %}"><< {{ restaurant.department.college.name}} {{ restaurant.department.name}}</a>
        <h2><strong>{{ restaurant.name }}</strong></h2>
        <a href="{% url 'reviews:add_review' restaurant.department.id%}"><span class="badge badge-pill badge-primary">+ Add class feedback</span></a>
      </div>
      <div class="card-body">
        <p class="card-text">
          Total {{ restaurant.review_set.count }} reviews
          <br> Average recommended {{ restaurant.average_rating | floatformat }} of 5 
          <br>Average difficulty: {{ class.average_diff | floatformat }}
          <br>Average workload: {{ class.average_wl | floatformat }} hours per week outside class
        </p>
      </div>
    </div>
    <p></p>
  </div>

  <div class="col-md-9">
    {% if restaurant_review_list %}
      <div class="row">
        {% for review in restaurant_review_list %}
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4> Recommended {{ review.rating }} of 5 </h4>
                 <div class="text-secondary">{{ review.user_name }}; {{ review.pub_date }}</div>
              </div>
              <div class="card-body">
                <strong>Taught by:</strong>  {{ review.prof_name }}
                <br><strong>Workload:</strong>  {{ review.get_work_load_display }} hours per week outside class
                <br><strong>Level of difficulty:</strong>  {{ review.get_diff_level_display }}
                <br><strong>Type of assessment:</strong>  {{ review.assessment }}
                <br><strong>Prior knowledge:</strong>  {{ review.pre_req }}
                <br><strong>Materials needed:</strong>  {{ review.materials }}
                {% if review.syllabus %}
                  <br><strong>Syllabus:</strong> <a href="{{ review.syllabus.url }}"> {{ review.syllabus.name }}</a></strong>
                {% else %}
                {% endif %}
                <br><br><strong>{{ review.comment }}</strong>
                <h6><a href="{% url 'reviews:like_review' %}">Helpful {{ review.get_like_counts }}</a><a onclick="return confirm('You will not see this review after reporting. Proceed?')" href="{% url 'reviews:report_review' review.id %}">&nbsp &nbsp Report</a></h6> 
              </div>
            </div>
            <p></p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <br>
      <h3>Please help us by adding more reviews for this class</h3> 
      (づ｡◕‿‿◕｡)づ
    {% endif %}
  </div>
</div>





{% endblock %}