{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h6><a href="{% url 'reviews:find_review_result' restaurant.department.id %}"> << Back to {{ restaurant.department.name }}</a></h6>
<h2>{{ restaurant.name }}</h2>
<h5>Recommended {{ restaurant.average_rating | floatformat }} of 5 by {{ restaurant.review_set.count }} reviews
<br>Average difficulty: {{ class.average_diff | floatformat }}
<br>Average workload: {{ class.average_wl | floatformat }} hours per week outside class</h5>
{% endblock %}

{% block content %}
{% if inside %}
<h4>You're in {{ restaurant.department.name }} insider group! <a href="{% url 'reviews:department_detail' restaurant.department.id %}">Explore now >> </a></h4>
{% else %}
<h4>Do you want to be a part of the {{restaurant.department.college.name}} {{restaurant.department.name}} insiders group? Join by reviewing a class or getting invited! </h4>
{% endif %}

{% buttons %}
<button onclick="window.location.href = '/class/add_general_review';">
    {% bootstrap_icon "star" %} Add Review
</button>
{% endbuttons %}
</form>


{% if restaurant_review_list %}
<div class="row">
    {% for review in restaurant_review_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:user_profile' review.user_name %}" >{{ review.user_name }}</a> recommended {{ review.rating }} of 5</h4>
        <p>{{ review.pub_date }}</p>
        <p>Taught by: {{ review.prof_name }}</p>
        <p>Class size: {{ review.get_class_size_display }}</p>
        <p>Workload: {{ review.get_work_load_display }}</p>
        <p>Level of difficulty: {{ review.get_diff_level_display }}</p>
        <p>Type of assessment: {{ review.assessment }}</p>
        <p>Prerequisite: {{ review.pre_req }}</p>
        <p>Materials required: {{ review.materials }}</p>
        <p><strong>{{ review.comment }}</strong></p>
        <h6><a href="{% url 'reviews:like_review' review.id %}">Helpful {{ review.get_like_counts }}</a><a onclick="return confirm('You will not see this review after reporting. Proceed?')" href="{% url 'reviews:report_review' review.id %}">&nbsp &nbsp Report</a></h6> 
    </div>
    {% endfor %}
</div>
{% else %}
{% endif %}

{% endblock %}