{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="text-primary">{{ review.title }}</h3>
    <strong>{{ review.user_name }}</strong> added a review for <a href="{% url 'reviews:restaurant_detail' review.restaurant.id %}" style="color:black"><strong>{{ review.restaurant.name }}</strong></a> in <a href="{% url 'reviews:department_list' review.restaurant.department.id %}" style="color:black"><strong>{{ review.restaurant.department.college.name }} {{ review.restaurant.department.name }}</strong></a> | <a class="text-secondary">{{ review.pub_date }}</a>
  </div>
  <div class="card-body">
<blockquote class="blockquote"> 
<p class="mb-0"><i class="fas fa-quote-left" aria-hidden="true"></i>  I'm recommending <strong>{{ review.restaurant.name }}</strong> in {{ review.restaurant.department.college.name }} {{ review.restaurant.department.name }} <strong>{{ review.rating }} of 5</strong>. I took the class with <strong>{{ review.prof_name }}</strong>. There was about <strong>{{ review.work_load }} hours</strong> of work outside class every week. It is <strong>{{ review.get_diff_level_display }}</strong>. I had to complete assessments such as <strong>{{ review.assessment }}</strong>. 
{% if review.syllabus %}
Here's the syllabus for the class when I took it: <a href="{{ review.syllabus.url }}">{{ review.syllabus }}</a>
{% else %}
{% endif %}
<i class="fas fa-quote-right" aria-hidden="true"></i>
</p>
</blockquote>
<p></p>
<h4>{{ review.comment }}</h4>
<div id="count{{ review.id }}">
  <button style="color:grey" type="button" class="btn btn-primary" id="like{{ review.id }}" name="{{ review.id }}"><i class="far fa-thumbs-up"></i> {{ review.get_like_counts }}</button>

  <input style="color:grey" type="button" class="btn btn-primary" onclick="return confirm('You will not see this review after reporting. Proceed?')" href="{% url 'reviews:report_review' review.id %}" value="Report"/>
  </div>   

<script>
$('#like{{ review.id }}').on("click",function(){
      $.ajax({
               type: "POST",
               url: "{% url 'reviews:like_review' %}",
               data: {'review_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function() {
                $("#count{{ review.id }}").load(window.location.href + " #count{{ review.id }}");
                },
               error: function(rs, e) {
                    alert(rs.responseText);
                }
          }); 
      
    })
</script>
{% if user.is_authenticated %}
    {% if user.get_username == review.user_name %}
    <h6><a href="{% url 'reviews:edit_review' review.id %}">
            Edit
            </a>
            <a onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'reviews:delete_review' review.id %}">
            Delete
            </a>
            </h6>
    {% else %}
    {% endif %}
{% else %}
{% endif %}
</div>
{% endblock %}