{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header text-primary">
    <h3>Explore Departments</h3>
  </div>
  <div class="card-body" align="center">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>
        {% else %}
          <form action="{% url 'reviews:department_list_all'%}" method="post" class="form">
          {% csrf_token %}
          {% for field in form %}
          {% bootstrap_field field %}
          {% endfor %}
          {% buttons %}
          <button type="submit" class="btn btn-raised btn-primary" >
          Go
          </button>
          {% endbuttons %}
          </form>
        {% endif %}
  </div>
</div>

<br>

  <div align="center" class="bg-white">
  <div class="card-header text-primary" align="left">
    <h3>What's Trending</h3>
  </div>
    <p></p>

    
    <h5 class="card-title"><strong>Most popular departments</strong></h5>
    <div class="row">
      {% for dept in most_followed%}
        <div class="col-lg-3">
          <div class="card">
            <p class="card-header"><a href="{% url 'reviews:department_list' dept.id%}">{{ dept.college.name }} {{ dept.name }}</a></p>
            <p class="card-body"> {{ dept.sub.count}} Insiders
            <br><strong>{{ dept.tagline}}</strong></p>
          </div>
        </div>
      {% endfor %}
    </div>
<p></p>
    <h5 class="card-title"><strong>Most recommended classes</strong></h5>
      <div class="row">
        {% for class in most_recommended %}
          <div class="col-lg-3">
            <div class="card">
              <p class="card-header"><a href="{% url 'reviews:department_list' class.department.id %}">{{ class.department.college.name }} {{ class.department.name }}</a></p>
              <p class="card-body"> {{ class.name }} 
              <br>average recommended {{ class.average_rating | floatformat:2 }}<a href="{% url 'reviews:restaurant_detail' class.id %}"> Detail>></a></p>
            </div>
          </div>
    {% endfor %}
  </div>
<p></p>
<h5 class="card-title"><strong>Most helpful feedback</strong></h5>
      <div class="row">
        {% for review in most_helpful%}
          <div class="col-lg-3">
            <div class="card">
              <p class="card-header"><a href="{% url 'reviews:department_list' review.restaurant.department.id %}">{{ review.restaurant.department.college.name }} {{ review.restaurant.department.name }}</a></p>
              <p class="card-body"> {{review.num_liked}} found {{ review.user_name }}'s feedback of {{ review.restaurant.name }} helpful 
              <a href="{% url 'reviews:review_detail' review.id %}"> Detail>></a></p>
            </div>
          </div>
    {% endfor %}
  </div>
<p></p>
    <h5 class="card-title"><strong>Most active topic</strong></h5>
      <div class="row">
        {% for topic in most_active%}
          <div class="col-lg-3">
            <div class="card">
              <p class="card-header"><a href="{% url 'reviews:department_list' topic.department.id %}">{{ topic.department.college.name }} {{ topic.department.name }}</a></p>
              <p class="card-body"> <strong>{{ topic.title }}</strong> has {{ topic.num_likes }} likes <a href="{% url 'reviews:topic_detail' topic.id %}"> Detail>></a></p>
            </div>
          </div>
    {% endfor %}
  </div>
<!--
<p></p>
    <h5 class="card-title"><strong>Most 'inside' users</strong></h5>
      <div class="row">
        {% for user in most_inside%}
          <div class="col-lg-3">
            <div class="card">
              <p class="card-header"><a href="{% url 'reviews:user_profile' user.id%}">{{ user.profile.college }} {{ user.profile.username }}</a></p>
              <p class="card-body"> In {{ user.num_inside }} insider's groups </p>
            </div>
          </div>
    {% endfor %}
  </div>
-->
</div>


{{ form.media.js }}
{% endblock %}
