{% extends 'base.html' %}

{% block title %}
<h2><a href="{% url 'reviews:restaurant_detail' review.restaurant.id %}">{{ review.restaurant.name }}</a></h2>
{% endblock %}

{% block content %}
<h4>Recommended {{ review.rating }} of 5 by <a href="{% url 'reviews:user_profile' review.user_name %}" >{{ review.user_name }}</a></h4>
<p>{{ review.pub_date }}</p>
<p>Taught by: {{ review.prof_name }}</p>
<p>Class size: {{ review.get_class_size_display }}</p>
<p>Workload: {{ review.get_work_load_display }}</p>
<p>Level of difficulty: {{ review.get_diff_level_display }}</p>
<p>Type of assessment: {{ review.get_assessment_display }}</p>
<p>Prerequisite: {{ review.pre_req }}</p>
<p>Materials required: {{ review.materials }}</p>
<p>{{ review.comment }}</p>
{% if user.is_authenticated %}
    {% if user.get_username == review.user_name %}
    <h6><a href="{% url 'reviews:edit_review' review.id %}">
            Edit
            </a>
            <a onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'reviews:delete_review' review.id %}">
            Delete
            </a>
            </h6>
    {% else %}
    {% endif %}
{% else %}
{% endif %}
{% endblock %}