{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{{ form.media.css }}
{% endblock %}

{% block content %}

  <div class="card-header text-primary">
    <h3>Explore Departments</h3>
  </div>
  <div class="card-body" align="center" style="background-color: white">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>
        {% else %}
          <form action="{% url 'reviews:department_list_all'%}" method="post" class="form">
          {% csrf_token %}
          {% for field in form %}
          {% bootstrap_field field %}
          {% endfor %}
          {% buttons %}
          <button type="submit" class="btn btn-raised btn-primary" >
          Go
          </button>
          {% endbuttons %}
          </form>
        {% endif %}
  </div>


<br>

<div class="row">
  <div class="col-lg-3">
    <h5 class="card-header text-primary">Most popular departments
    </h5>
    {% for dept in most_followed %}
            <div class="card-body" style="background-color: white"><a style="color:black" href="{% url 'reviews:department_list' dept.id%}"><strong><u>{{ dept.college.name }} {{ dept.name }}</u></strong></a>
            <br>{{ dept.sub.count}} Insiders
            <br>{{ dept.tagline}}</div>
    {% endfor %}
  </div>

  <div class="col-lg-3">
    <h5 class="card-header text-primary">Highest recommended classes
    </h5>
        {% for class in most_recommended %}
              <div class="card-body" style="background-color: white"><a style="color:black" href="{% url 'reviews:restaurant_detail' class.id %}"><strong><u>{{ class.department.college.name }} {{ class.name }}</u></strong></a>
              <br>average recommended {{ class.average_rating | floatformat:2 }}</div>
    {% endfor %}
  </div>

  <div class="col-lg-3">
    <h5 class="card-header text-primary">Most helpful feedback
    </h5>
        {% for review in most_helpful%}
              <div class="card-body" style="background-color: white"><a style="color:black" href="{% url 'reviews:review_detail' review.id %}"><strong><u>{{ review.title }}</u></strong></a>
              <br>{{review.num_liked}} likes</div>
    {% endfor %}
  </div>

  <div class="col-lg-3">
    <h5 class="card-header text-primary">Most popular post
    </h5>
        {% for topic in most_active%}
              <div class="card-body" style="background-color: white"> <a style="color:black" href="{% url 'reviews:topic_detail' topic.id %}"><strong><u>{{ topic.title }}</strong></u></a>
              <br>by {{topic.username}} | {{ topic.num_likes }} likes</div>
    {% endfor %}
  </div>
<!--
<p></p>
    <h5 class="card-title"><strong>Most 'inside' users</strong></h5>
      <div class="row">
        {% for user in most_inside%}
          <div class="col-lg-3">
            <div class="card">
              <p class="card-header"><a href="{% url 'reviews:user_profile' user.id%}">{{ user.profile.college }} {{ user.profile.username }}</a></p>
              <p class="card-body"> In {{ user.num_inside }} insider's groups </p>
            </div>
          </div>
    {% endfor %}
  </div>
-->
</div>


{{ form.media.js }}
{% endblock %}
