{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block content %}
<h6><a href="{% url 'reviews:department_list' topic.department.id %}"><< {{ topic.department.college.name }} {{ topic.department.name }} Insider</a></h6>
<h2>{{ topic.title }}</h2>
<h6>{{ topic.pub_date }} by {{ topic.username }}</h6>
<h5><a href="{% url 'reviews:like_topic' topic.id %}">Like</a></h5>
<h5><a href="{% url 'reviews:report_topic' topic.id %}">Report</a></h5>
<h5>{{ topic.content }}</h5>

<br>
{% if topic_response_list %}
<div class="row">
    {% for response in topic_response_list %}
    <div class="col-xs-6 col-lg-4">
        <h6>{{ response.pub_date }} by {{ response.username }}</h6> 
        <h4>{{ response.content }}</h4>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Respond to {{ topic.user_name }} now!</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% else %}
<form action="{% url 'reviews:add_response' topic.id %}" method="post" class="form">
{% csrf_token %}
{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
{% buttons %}
<button type="submit" class="btn btn-primary">
     Add Response
</button>
{% endbuttons %}
</form>
{% endif %}

{% endblock %}