{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h6><a href="{% url 'reviews:department_detail' topic.department.id %}"> << Back to {{ topic.department.name }}</a></h6>
<h2>{{ topic.title }}</h2>
<h5>{{ topic.pub_date }} by {{ topic.user_name }}</h5>
<h5><a href="{% url 'reviews:like_topic' topic.id %}">Like</a></h5>
<h5><a href="{% url 'reviews:report_topic' topic.id %}">Report</a></h5>
<h5>{{ topic.content }}</h5>
{% endblock %}

{% block content %}
<br>
{% if topic_response_list %}
<div class="row">
    {% for response in topic_response_list %}
    <div class="col-xs-6 col-lg-4">
        <h6>{{ response.pub_date }} by {{ response.user_name }}</h6> 
        <h4>{{ response.content }}</h4>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Respond to {{ topic.user_name }} now!</p>
{% endif %}

<h3>Response</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% else %}
<form action="{% url 'reviews:add_response' topic.id %}" method="post" class="form">
{% csrf_token %}
{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
{% buttons %}
<button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Add
</button>
{% endbuttons %}
</form>
{% endif %}

{% endblock %}