{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}
<h6><a href="{% url 'reviews:find_review_result' department.id %}"> << Find class review </a></h6>
<h2>{{ department.name }}</h2>
<h5>{{ department.sub_count}} Insiders
{% if user.is_authenticated %}
    {% if sub %}
    | You're an insider! | <a href="{% url 'reviews:unsub_dept' department.id %}">Leave</a></h5>
    {% else %}
     | <a href="{% url 'reviews:sub_dept' department.id %}">Join</a></h5>
    {% endif %}
{% else %}
<a href="/accounts/login/">Follow</a></h5>
{% endif %}
{% endblock %}



{% block content %}

<form action="{% url 'reviews:department_detail' department.id%}" method="post" class="form">
{% csrf_token %}
{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
<button type="submit" class="btn btn-primary">
     Go
</button>
</form>

<button onclick ="window.location.href = '{% url 'reviews:add_topic' department.id %}';">
    Add topic
</button>


<h3>Latest Threads</h3>
{% if result_list %}
<div class>
    {% for result in result_list %}
    <div>
        {% if result.is_review %}
        <p><h4><a href="{% url 'reviews:restaurant_detail' result.restaurant.id %}">{{ result.user_name}} recommended {{ result.restaurant }} {{ result.rating }} of 5</a></h4>
        {% else %}
        <p><h4><a href="{% url 'reviews:topic_detail' result.id %}">{{ result.title }}</a></h4>
        {% endif %}
    {{ result.pub_date }}</p>
    <br>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No thread is available.</p>
{% endif %}

{% endblock %}