{% extends 'base.html' %}

{% block title %}
<h2>Hi {{ username }}!</h2>
{% endblock %}

{% block content %}
<h3> My Departments </h3>
    {% if sub_dept_list %}
    <div class="row">
        {% for dept in sub_dept_list %}
        <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:department_detail' dept.id %}">
        {{dept.name}}</a></h4>
        <h6>{{dept.sub_count}} Followers</h6>  
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Explore departments to follow</p>
    {% endif %}

<h3> My Reviews </h3>
    {% if latest_review_list %}
    <div class="row">
        {% for review in latest_review_list %}
        <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:review_detail' review.id %}"> Recommended {{review.restaurant.school}} {{ review.restaurant.name }} {{ review.rating }} of 5</a></h4>
        <h6><p>{{ review.comment }}</p></h6>
            {% if user.is_authenticated %}
                {% if user.get_username == review.user_name %}
                <h6>{{ review.get_like_counts }} Likes &nbsp &nbsp
                </h6>
                {% else %}
                {% endif %}
            {% else %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No reviews are available.</p>
    {% endif %}

<h3>My Topics</h3>
    {% if topic_list %}
    <div class="row">
        {% for topic in topic_list %}
        <div class="col-xs-6 col-lg-4">
        <h4>
        <a href="{% url 'reviews:topic_detail' topic.id %}">{{ topic.title }}
        </a></h4>
        <h6>{{ topic.department.name }}</h6>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Start a topic in your departments!</p>
    {% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>
{% else %}
<form action="{% url 'reviews:add_profile' username %}" method="post" class="form">
{% csrf_token %}
{% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
{% buttons %}
<button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Start Topic
</button>
{% endbuttons %}
</form>

{% endblock %}
