{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<title>Department Insider</title>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'reviews:review_list' %}"><b>Department Insider</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'reviews:find_review' %}">Reviews</a></li>
                <li><a href="{% url 'reviews:department_list_all' %}">Insiders</a></li>
            </ul> 

            <ul class="nav navbar-nav navbar-right">  
                {% if user.is_authenticated %}
                <li><a href="{% url 'reviews:user_profile' user.username %}">{{ user.username}}</a></li>
            </ul>
                {% else %}
                <li><a href="{% url 'auth:login' %}">Login/Sign Up</a></li>
                {% endif %}
            
        </div>
    </nav>

    <h1>{% block title %}(no title){% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}