{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<title>How's Class</title>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'reviews:review_list' %}">How's Class</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                </li>
                <li><a href="{% url 'reviews:restaurant_list' %}">Class list</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">    
            {% if user.is_authenticated %}
                <li><a href="{% url 'reviews:user_review_list' user.username %}">Hello {{ user.username }}</a></li>
                <li><a href="{% url 'reviews:user_recommendation_list' %}">My Class Recommendations</a></li>
                <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="/accounts/register">Register</a></li>
                <li><a href="{% url 'auth:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h1>{% block title %}(no title){% endblock %}</h1>

    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}